{% extends "KdvFrontBundle::layout.html.twig" %}
{% block body %}
    	<!-- Page title -->
	<div class="home-title-wrapper">
		<div class="pattern-light-wrapper">
			<div class="container">
	        	<h2 class="page-title-main">Développements web sur mesure</h2>
                <h3 class="page-title-secondary">Efficacité et code propre sont notre devise</h3>   
	        </div>

			<div class="decorative-lines"></div>	
			<div class="container">
		        	
                <div class="circle-info-buttons">
		        	<!-- Circle info button -->
	                <div class="circle-info-wrapper">
	                    <div class="circle-info">
                            <div class="circle-info__front">
		                        <h4 class="circle-info__title">M</h4>
	                        </div>
                            <div class="circle-info__back">
	                            <h4 class="circle-info__title">Modèle</h4>
                                    <p class="circle-info__text hidden-xs">- Doctrine2<br/>- Mysql<br/>- Oracle<br/>- MongoDB<br/>- Webservice</p>  
                                <a href="#"><i class="icon-circle icon-circle--small fa fa-arrow-right"></i></a>
	                        </div>
	                    </div>
	                </div>
		        	<!-- End Circle info button -->	

		        	<!-- Circle info button -->
	                <div class="circle-info-wrapper">
	                    <div class="circle-info">
                            <div class="circle-info__front">
		                        <h4 class="circle-info__title">V</h4>
	                        </div>
                            <div class="circle-info__back">
	                            <h4 class="circle-info__title">Vue</h4>
                                    <p class="circle-info__text hidden-xs">- Twig<br/>- Responsive<br/>- JQuery</p>  
                                <a href="#"><i class="icon-circle icon-circle--small fa fa-arrow-right"></i></a>
	                        </div>
	                    </div>
	                </div>
		        	<!-- End Circle info button -->	

		        	<!-- Circle info button -->
	                <div class="circle-info-wrapper">
	                    <div class="circle-info">
                            <div class="circle-info__front">
		                        <h4 class="circle-info__title">C</h4>
	                        </div>
                            <div class="circle-info__back">
	                            <h4 class="circle-info__title">Contrôleur</h4>
	                            <p class="circle-info__text hidden-xs">- PHP<br/>- Symfony2<br/>- Zend<br/></p>  
                                <a href="#"><i class="icon-circle icon-circle--small fa fa-arrow-right"></i></a>
	                        </div>
	                    </div>
	                </div>
		        	<!-- End Circle info button -->	
	        	</div>
			</div>

			<a class="btn btn--highlight btn-wider" href="#">Buy Template</a>

		    <div class="divider-simple"></div>
        </div>
    </div>
	<!-- End Page title -->

	<!-- Promobox -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
		    	<div class="promobox hidden-xs promobox-position">
		    		<p class="promobox__text">Besoin de conseils, d'un développeur, ou de faire réaliser votre projet de A à Z ?</p>
		        	<A class="btn btn--highlight btn-wider" HREF="mailto:renault@karudev.fr?subject=Projet web">Contactez nous</A>
                               
		    	</div>
	    	</div>
		</div>
	</div>
	<!-- End Promobox -->
	
	<!-- Begin main content -->

	<!-- Begin page section -->
	<section class="container benefits">
		<div class="row">
			<div class="col-xs-12 col-md-12">		
				<h2 class="section-title">Karudev Informatique<span class="text-highlight">Les points forts</span></h2>
				<ul class="list-arrow list-arrow--hover-efect">
                                    <li class="list__item col-md-6"><i class="icon-circle icon-circle--thin fa fa-arrow-right"></i><strong>Ecoute du client et prestations adaptées</strong>.<br/> La réussite de votre projet passe par la compréhension de votre besoin. C'est pourquoi nous sommes à l'écoute et vous aidons à mieux définir vos spécifications fonctionnelles.</li>
                                    <li class="list__item col-md-6"><i class="icon-circle icon-circle--thin fa fa-arrow-right"></i><strong>Une bonne expertise technique</strong>.<br/> Une équipe composée de 2 ingénieurs informatiques à votre service. Dont Dolyveen Renault
                                        (8xp) dans des domaines variés 
                                        (Medias, E-commerce, Finance/Assurance, Juridique, Réseaux sociaux/BigData...) pour des startups, PME, Grand compte.  </li>
                                    <li class="list__item col-md-6"><i class="icon-circle icon-circle--thin fa fa-arrow-right"></i><strong>Une créatif au rendez vous</strong>.<br/>
                                    Nous sommes en mesure de prendre charge le webdesign et l'ergonomie de votre projet web, grâce à notre collaborateur Directeur Artistique, Harold Gene.</li>
                    <li class="list__item col-md-6"><i class="icon-circle icon-circle--thin fa fa-arrow-right"></i><strong>Bon rapport qualité/prix</strong>.<br/>
                    Le juste prix, ni trop, ni moins. Grâce à nos techniques, et méthodes bien rodées, nous allons à l'essentiel, ce qui nous permet de réduire nos coûts.</li>
				</ul>		
			</div>
			{#<div class="col-xs-8 col-md-3 col-xs-offset-2 col-md-offset-1 roundabout-wrapper">
				<ul class="roundabout">
                    <li class="roundabout-slide"><img src="images/iphone-blue.png" alt=""></li>
                    <li class="roundabout-slide"><img src="images/iphone-dark.png" alt=""></li>  
                    <li class="roundabout-slide"><img src="images/iphone-pink.png" alt=""></li>                         
                </ul>
				<div class="roundabout-controls">
					<a class="prev" href="#"></a>
					<a class="next" href="#"></a>
				</div>
			</div>#}
		</div>
		<!-- End row -->
	</section>
	<!-- End page section -->

	<!-- Begin page section -->
    <section class="services services--preview">
    	<div class="container">
			<div class="row">
	            <div class="col-sm-12">
		        	<div class="divider-circle divider-circle--light"></div>

					<h2 class="section-title">Prestations<span class="text-highlight">Informatiques</span></h2>
	            </div>	          
			</div>
		</div>

        <!-- Decorated slider -->	
        <div class="decorated-slider-wrapper">
			<div class="decorative-lines"></div>
			<div class="container">
				<div class="row">
		            <div class="col-sm-12">

						<div class="swiper-controls decorated-slider-controls">
							<a class="prev-arrow" href="#"></a>
							<a class="next-arrow" href="#"></a>
						</div>

						<div class="clearfix"></div>

						<div class="swiper-container decorated-slider">
						 	<div class="swiper-wrapper">
			            					
							    <div class="swiper-slide swiper-slide--active" data-order="slide1"> 	
				                	<div class="services__item">
										<i class="icon icon-circle icon-circle--lg fa fa-cog"></i>
										<h4 class="service__title">Régie</h4>
									</div>
								</div>
								
							    <div class="swiper-slide" data-order="slide2"> 	    	
				                	<div class="services__item">
										<i class="icon icon-circle icon-circle--lg fa fa-users"></i>
										<h4 class="service__title">Forfait</h4>
									</div>
								</div>
								
							    <div class="swiper-slide" data-order="slide3"> 	    	
				                	<div class="services__item">
										<i class="icon icon-circle icon-circle--lg fa fa-cloud"></i>
										<h4 class="service__title">TMA</h4>
									</div>
								</div>
								
							    <div class="swiper-slide" data-order="slide4"> 	    	
				                	<div class="services__item">
										<i class="icon icon-circle icon-circle--lg fa fa-tags"></i>
										<h4 class="service__title">Formation</h4>							
									</div>
								</div>

			            	</div>
						</div>

			            <div class="service__info">
							<p class="service__description slide1 service__description--active"><strong>Fusce aliquet euismod luctus.</strong> Aliquam scelerisque tincidunt risus nec pellentesque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent sed tristique massa. Aenean iaculis diam nec ligula ullamcorper eu tempus dolor ullamcorper. Morbi in nisi tincidunt neque gravida facilisis.  Pellentesque mattis nisl eget neque scelerisque adipiscing. Vestibulum euismod commodo odio sit amet congue. Donec ut sem vel mauris sodales egestas. Nulla eget lorem vitae diam ullamcorper tincidunt ut vel est. </p>
		                	<p class="service__description slide2"><strong>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</strong> Sed adipiscing fermentum auctor. Mauris convallis mattis risus vitae cursus. Quisque dapibus venenatis lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu dui id sapien gravida accumsan. Duis ultrices scelerisque velit eget mollis. Nam rhoncus auctor tortor, eget consectetur magna viverra a. Phasellus non mauris ipsum, in vulputate risus. Praesent non ligula lectus. </p>
		                	<p class="service__description slide3"><strong>Aenean facilisis tincidunt nibh, ac condimentum urna auctor ac. Nulla id ultricies ligula. </strong>Nulla ornare placerat eros, non aliquet quam ullamcorper nec. Morbi porta nulla sed elit rhoncus lobortis. Duis sit amet ante a augue pretium cursus pulvinar vel velit. Cras at nunc in libero mollis dignissim in ac metus. Pellentesque venenatis lobortis purus, eu scelerisque neque mattis id. Curabitur ut erat odio, nec posuere lacus. Vivamus vitae pulvinar felis. Duis faucibus nibh pulvinar ipsum fermentum blandit. </p>
		                	<p class="service__description slide4"><strong>Aenean fermentum eros id purus volutpat id sodales turpis pellentesque.</strong> Donec sapien risus, aliquam quis dictum quis, vehicula vitae mauris. Proin cursus condimentum massa vitae molestie. Aenean nec ligula ante, quis aliquet eros. Aliquam sit amet egestas orci. Aliquam convallis, leo in varius imperdiet, mauris ante accumsan dui, ut faucibus leo purus vel tortor. Suspendisse in varius quam. Maecenas orci libero, dictum sit amet porta et, lobortis ut arcu. Vivamus dolor risus, dignissim vitae pharetra vitae, tincidunt in ligula. </p>
			            </div>	   

		            </div>	          
				</div>          
			</div>
		</div>
        <!-- End Decorated slider -->

	</section>
	<!-- End page section -->

	<!-- Begin page section -->
	{#<section class="universe hidden-xs">
		<div class="pattern-light-wrapper">
			<div class="container">
				<div class="row">
		            <div class="col-sm-4 col-md-5">
		            	<h2 class="section-title section-title--light">Welcome to APPIC<span class="text-highlight">universe</span></h2>      
					</div>

		            <div class="col-sm-8 col-md-7 circle-buttons-holder">
			        	<!-- Circle button -->
		                <div class="circle-button-wrapper circle-button--smaller-wraper">
		                    <div class="circle-button circle-button--smaller">
		                        <h4 class="circle-button__title">Discover</h4>
		                        <a class="circle-button-second" href="#">
		                            <h4 class="circle-button__title">Discover</h4>
		                        </a>
		                    </div>
		                </div>
			        	<!-- End Circle button -->	
			        	   
			        	<!-- Circle button -->
		                <div class="circle-button-wrapper circle-button--smaller-wraper">
		                    <div class="circle-button circle-button--smaller">
		                        <h4 class="circle-button__title">Share</h4>
		                        <a class="circle-button-second" href="#">
		                            <h4 class="circle-button__title">Share</h4>
		                        </a>
		                    </div>
		                </div>
			        	<!-- End Circle button -->	
			        	   
			        	<!-- Circle button -->
		                <div class="circle-button-wrapper circle-button--smaller-wraper">
		                    <div class="circle-button circle-button--smaller">
		                        <h4 class="circle-button__title">Enjoy</h4>
		                        <a class="circle-button-second" href="#">
		                            <h4 class="circle-button__title">Enjoy</h4>
		                        </a>
		                    </div>
		                </div>
			        	<!-- End Circle button -->	
		        	</div>
	        	</div>	        	   
	        	   
	        </div>	   
			<div class="decorative-lines"></div>	
        </div>
    </section>#}
	<!-- End page section -->

	<!-- Begin page section -->
	<section class="container client-says">
		<div class="row">
            <div class="col-sm-12">
	        	<div class="divider-circle divider-circle--light visible-xs"></div>

				<h2 class="section-title">Récemment<span class="text-highlight">Nos clients</span></h2>

				<!-- Qoutation slider -->	
				<div class="swiper-controls qoutation-slider-controls">
					<a class="prev-arrow" href="#"></a>
					<a class="next-arrow" href="#"></a>
				</div>

				<div class="clearfix"></div>

				<div class="swiper-container qoutation-slider qoutation-slider--higher">
				 	<div class="swiper-wrapper">
                                            
                                            	<!-- Client saying -->
					    <div class="swiper-slide"> 
							<div class="client-says__item">
			                	<div class="author__photo triangled-box">
									<img style="padding-bottom:50px" src="{{asset('bundles/kdvfront/images/customers/sicavonline.jpg')}}" alt="">	
                                                                        <div class="author__name">Stéphane Bouget<br/><a href="#">Sicavonline</a></div>
								</div>
			                	<p class="author__message">
                                                    Dolyveen Renault est un bon consultant PHP, moteur dans une équipe, force de proposition. Il a pu nous faire monter en compétence sur le framework Symfony2.</p>
						<p class="text-right">(Consulting pour Infogene)</p>
                                                </div>
                                            </div>
						<!-- End Client saying -->
                                                
						<!-- Client saying -->
					    <div class="swiper-slide"> 
							<div class="client-says__item">
			                	<div class="author__photo triangled-box">
									<img src="{{asset('bundles/kdvfront/images/customers/harold-gene.jpg')}}" alt="">	
                                                                        <div class="author__name">Harold Gene<br/><a href="#">Hundredrobots</a></div>
								</div>
			                	<p class="author__message">
                                                    Equipe dynamique et méticuleuse, Elle sait s'adapter à toutes les contraintes et proposer des solutions en développement et en intégration en phase avec le cahier des charges du client.</p>
							</div>
						</div>
						<!-- End Client saying -->

						<!-- Client saying -->
					    <div class="swiper-slide"> 
					    	<div class="client-says__item">
			                	<div class="author__photo triangled-box">
									<img style="height:105px" src="{{asset('bundles/kdvfront/images/customers/audrey-parcineau.jpg')}}" alt="">	
                                                                        <div class="author__name">Audrey Parcineau<br/><a href="#">Qwinsport</a></div>
								</div>
                                                                        <p class="author__message">Merci à Dolyveen Renault pour le développement de mon site e-commerce qwinsport.com. Il a pu livré dans un délai serré et a été très disponible pour les derniers ajustements.</p>
							<p class="text-right">(Développé pour Hundredrobots)</p>
                                                </div> 
							</div>
                                                                        <!-- Client saying -->
					    <div class="swiper-slide"> 
					    	<div class="client-says__item">
			                	<div class="author__photo triangled-box">
									<img src="{{asset('bundles/kdvfront/images/customers/natalia.jpg')}}" alt="">	
									<div class="author__name">Natalia Calero<br/><a href="#">Fridging</a></div>
								</div>
				                <p class="author__message">Merci à l'équipe Hundredrobots / Karudev Informatique pour la réalisation de mon site BtoB, fridging.com</p>
				            </div>
						</div>
						
						<!-- End Client saying -->

						


					</div>
				</div>
				<!-- End Qoutation slider -->

			</div>
		</div>
		<!-- End row -->
	</section>
	<!-- End page section -->

	<!-- Begin page section -->
	<section class="container divided-section">
    	<div class="divider-circle divider-circle--light"></div>
    	<div class="divider-vertical hidden-xs"></div>
		<div class="row">
            <!--<div class="col-sm-6">
				<h2 class="section-title section-title--smaller">Latest<span class="text-highlight">post</span></h2>

            	
				<article class="post post--latest">
					<a href="single-post.html">
						<div class="post__image">
							<img src="http://placehold.it/340x340" alt="">
						</div>
						<div class="post__description">
							<h2 class="post__title">Proin gravida dapibus metus, et pretium lorem accumsan suscipit.</h2>
							<p class="post__date">February 26, 2014</p>
							<div class="clearfix hidden-lg"></div>
							<p class="post__text">Maecenas in purus sit amet nisl condimentum venenatis. Morbi fringilla imperdiet nisi, a rhoncus eros iaculis sed. Nulla eget libero eros, vitae fringilla nisi. In hac habitasse platea dictumst.  Suspendisse viverra velit eu ante tristique adipiscing mollis sapien lobortis. Quisque gravida scelerisque vehicula.  In hac habitasse platea dictumst.<span class="post__more"><i class="icon-circle icon-circle--small fa fa-arrow-right"></i></span></p>
						</div>
				    	<div class="divider-simple visible-xs"></div>
					</a>
				</article>
            	          	
			</div>-->
            <div class="col-sm-12 choose-us">
				<h2 class="section-title section-title--smaller">Pourquoi choisir Karudev Informatique<span class="text-highlight"></span></h2>

				<!-- Accordion -->
				<div class="panel-group accordion accordion--secondary" id="accordion2">

					<!-- Accordion item -->
					<div class="panel panel-default">
					    <div class="panel-heading">
                            <h4 class="panel-title">
					        	<a data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
					        		<span class="marker"></span>
						          	Développeur et Webdesigner expérimentés
					        	</a>
					        </h4>
					    </div>
					    <div class="panel-collapse collapse in" id="collapseFive">
					      	<div class="panel-body">
					       		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet quam augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nisi nisi, pulvinar a mattis quis, tincidunt sed risus. Quisque ipsum felis, fringilla et tristique eget, mattis quis massa.
					    	</div>
					    </div>
					</div>
					<!-- End accordion item -->

					<!-- Accordion item -->
					<div class="panel panel-default">
					    <div class="panel-heading">
                            <h4 class="panel-title">
					        	<a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
					        		<span class="marker"></span>
						          	La qualité, le code propre 
					        	</a>
					        </h4>
					    </div>
					    <div class="panel-collapse collapse" id="collapseSix">
					      	<div class="panel-body">
					        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet quam augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nisi nisi, pulvinar a mattis quis, tincidunt sed risus. Quisque ipsum felis, fringilla et tristique eget, mattis quis massa.
					      	</div>
					    </div>
					  </div>
					<!-- End accordion item -->

					<!-- Accordion item -->
					<div class="panel panel-default">
					    <div class="panel-heading">
                            <h4 class="panel-title">
					        	<a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
					        		<span class="marker"></span>
						          	L'efficacité
					        	</a>
					        </h4>
					    </div>
					    <div class="panel-collapse collapse" id="collapseSeven">
					      	<div class="panel-body">
					        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet quam augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nisi nisi, pulvinar a mattis quis, tincidunt sed risus. Quisque ipsum felis, fringilla et tristique eget, mattis quis massa.
					      	</div>
					    </div>
					  </div>
					<!-- End accordion item -->

					<!-- Accordion item -->
					<div class="panel panel-default">
					    <div class="panel-heading">
                            <h4 class="panel-title">
					        	<a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">
					        		<span class="marker"></span>
						          	Tarif compétitif 
					        	</a>
					        </h4>
					    </div>
					    <div class="panel-collapse collapse" id="collapseEight">
					    	<div class="panel-body">
					       		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet quam augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nisi nisi, pulvinar a mattis quis, tincidunt sed risus. Quisque ipsum felis, fringilla et tristique eget, mattis quis massa.
					    	</div>
					    </div>
					</div>
					<!-- End accordion item -->
				</div>
				<!-- End Accordion -->

			</div>
		</div>
		<!-- End row -->
    	<div class="divider-circle divider-circle--light divider-circle-margin"></div>
	</section>
	<!-- End page section -->

	<!-- End main content -->
{% endblock %}
{% block js %}
<script src="{{asset('bundles/kdvfront/external/jquery-event/jquery.event.drag-2.2.js')}}"></script>		<!--Script jquery event Drag-->
<script src="{{asset('bundles/kdvfront/external/jquery-event/jquery.event.drop-2.2.js')}}"></script>		<!--Script jquery event Drop-->
<script src="{{asset('bundles/kdvfront/external/jquery-easing/jquery.easing.1.3.js')}}"></script>			<!--Script jquery Easing-->
<script src="{{asset('bundles/kdvfront/external/jquery-roundabout/jquery.roundabout.min.js')}}"></script>	<!--Script Roundabout-->
<script src="{{asset('bundles/kdvfront/external/swiper/idangerous.swiper.min.js')}}"></script>			<!--Script Swiper slider -->	
<script src="{{asset('bundles/kdvfront/external/jquery-twitter/jquery.twitter.js')}}"></script>			<!--Script Twitter-->
<script src="{{asset('bundles/kdvfront/external/jflickrfeed/jflickrfeed.js')}}"></script>					<!--Script Widget Flikr-->
<script src="{{asset('bundles/kdvfront/external/gozha-nav/jquery.mobile.menu.js')}}"></script>			<!--Script Mobile menu-->
<script src="{{asset('bundles/kdvfront/external/modernizr/modernizr.custom.91224.js')}}"></script>		<!--Script Modernizr-->
<script src="{{asset('bundles/kdvfront/external/colorbox/jquery.colorbox.js')}}"></script>				<!--Script Сolorbox-->
<script src="{{asset('bundles/kdvfront/js/form.js')}}"></script>											<!--Script Forms -->
<script src="{{asset('bundles/kdvfront/js/custom.js')}}"></script>										<!--Script Custom-->
<script>
$(document).ready(function() {

	//Button hover
	init_ButtonInfo();

	init_Button ();

	//Roundabout slider
	init_Roundabout();	

	//Swiper
	init_DecoratedSlider();

	init_QoutationSlider();

	//Services hover
	init_ServicesInfo();
});
</script>
{% endblock %}