{% extends "KdvFrontBundle::layout.html.twig" %}
{% block body %}
    	<!-- Page title -->
	<div class="page-title-wrapper about-title-wrapper">
		<div class="pattern-dark-wrapper">
			<div class="container">
	        	<h2 class="page-title">Prestations informatiques<br><br><span class="page-title-main">WEB / PHP</span></h2>

	        
	        	        	
	        </div>
        </div>
    </div>
	<!-- End Page title -->

	<!-- Begin main content -->		
	<div class="container page-content-wrapper">
		<div class="row">
            <div class="col-sm-12">
            	<p class="page__text"><strong>Fusce aliquet euismod luctus.</strong> Aliquam scelerisque tincidunt risus nec pellentesque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent sed tristique massa. Aenean iaculis diam nec ligula ullamcorper eu tempus dolor ullamcorper. Morbi in nisi tincidunt neque gravida facilisis.  Pellentesque mattis nisl eget neque scelerisque adipiscing. Vestibulum euismod commodo odio sit amet congue.</p>
				<p class="page__text"><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong> Nunc dignissim lectus arcu, et dictum libero. Nam vitae metus et dolor vulputate varius quis quis mauris. Aliquam luctus viverra leo, vitae viverra augue interdum at. Donec bibendum elementum leo at volutpat. Aenean semper, ante imperdiet aliquam sollicitudin, nisl neque auctor erat, tristique porta risus turpis ut dolor. Nullam rhoncus, leo vitae semper mattis, augue augue dictum felis, nec dignissim nisi metus id sapien. Curabitur malesuada nunc id dui vulputate varius. Quisque libero justo, placerat at facilisis eu, lacinia eget nibh. </p>

	        	<div class="divider-circle divider-circle--light"></div>
			</div>
		</div>
		<!-- End row -->
	</div>
	  
	<section>      	
		<div class="container">
			<div class="row">
	            <div class="col-sm-12">
					<h2 class="section-title">Karudev Informatique<span class="text-highlight">Timeline</span></h2>
				</div>
			</div>
			<!-- End row -->
		</div>

		<!-- Timeline -->
		<div class="timeline">
	        <div class="dateline">

	         {#   <div class="timeline__year"><span class="circle"></span>2010</div>             
	            <div class="timeline__event bottom" data-date="Wed Feb 21 2010">
	            	<div class="timeline__block">
		            	<h5 class="timeline__date">February</h5>
		            	<p class="timeline__text">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt risus nec pellentesque.</p>
		            </div>
		            <span class="circle"></span><span class="line"></span>
		        </div>    
	            <div class="timeline__event top" data-date="Tue Mar 09 2010">
	            	<div class="timeline__block">
	            		<h5 class="timeline__date">March</h5>
	            		<p class="timeline__text">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt risus nec pellentesque.</p>
	            	</div>
	            	<span class="circle"></span><span class="line"></span>
		        </div>    
	            <div class="timeline__event bottom special" data-date="Sat May 14 2010">
	            	<div class="timeline__block">
	            		<h5 class="timeline__date">May</h5>
	            		<p class="timeline__text">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt risus nec pellentesque.</p>
	            	</div>
	            	<span class="circle"></span><span class="line"></span>
	            </div>
	            <div class="timeline__event top" data-date="Wed Jun 21 2010">
	            	<div class="timeline__block">
	            		<h5 class="timeline__date">June</h5>
	            		<p class="timeline__text">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt risus nec pellentesque.</p>
	            	</div>
	            	<span class="circle"></span><span class="line"></span>
	            </div>
	            <div class="timeline__event bottom" data-date="Tue Aug 09 2010">
	            	<div class="timeline__block">
	            		<h5 class="timeline__date">August</h5>
	            		<p class="timeline__text">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt risus nec pellentesque.</p>
	            	</div>
	            	<span class="circle"></span><span class="line"></span>
	            </div>
	            <div class="timeline__event top special" data-date="Sat Oct 14 2010">
	            	<div class="timeline__block">
	            		<h5 class="timeline__date">October</h5>
	            		<p class="timeline__text">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt risus nec pellentesque.</p>
	            	</div>
	            	<span class="circle"></span><span class="line"></span>
	            </div>
	            <div class="timeline__event bottom" data-date="Wed Dec 21 2010">
	            	<div class="timeline__block">
	            		<h5 class="timeline__date">December</h5>
	            		<p class="timeline__text">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt risus nec pellentesque.</p>
	            	</div>
	            	<span class="circle"></span><span class="line"></span>
	            </div>
	            
	                      
	            <div class="timeline__year"><span class="circle"></span>2011</div>
	            <div class="timeline__event bottom" data-date="Wed Jun 08 2011">
	            	<div class="timeline__block">
	            		<h5 class="timeline__date">January - February</h5>
	            		<p class="timeline__text">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt risus nec pellentesque.</p>
	            	</div>
	            	<span class="circle"></span><span class="line"></span>
	            </div>
	            <div class="timeline__event top special" data-date="Wed Feb 21 2011">
	            	<div class="timeline__block">
	            		<h5 class="timeline__date">February</h5>
	            		<p class="timeline__text">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt risus nec pellentesque.</p>
		            </div>
		            <span class="circle"></span><span class="line"></span>
		        </div>    
	            <div class="timeline__event bottom" data-date="Tue Mar 09 2011">
	            	<div class="timeline__block">
	            		<h5 class="timeline__date">March</h5>
	            		<p class="timeline__text">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt risus nec pellentesque.</p>
	            	</div>
	            	<span class="circle"></span><span class="line"></span>
	            </div>    
	            <div class="timeline__event top special" data-date="Sat May 14 2011">
	            	<div class="timeline__block">
	            		<h5 class="timeline__date">May</h5>
	            		<p class="timeline__text">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt risus nec pellentesque.</p>
	            	</div>
	            	<span class="circle"></span><span class="line"></span>
	            </div>
	            <div class="timeline__event bottom" data-date="Wed Jun 21 2011">
	            	<div class="timeline__block">
	            		<h5 class="timeline__date">June</h5>
	            		<p class="timeline__text">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt risus nec pellentesque.</p>
	            	</div>
	            	<span class="circle"></span><span class="line"></span>
	            </div>    
	            <div class="timeline__event top" data-date="Tue Aug 09 2011">
	            	<div class="timeline__block">
	            		<h5 class="timeline__date">August</h5>
	            		<p class="timeline__text">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt risus nec pellentesque.</p>
	            	</div>
	            	<span class="circle"></span><span class="line"></span>
	            </div> 
	            <div class="timeline__event bottom special" data-date="Sat Oct 14 2011">
	            	<div class="timeline__block">
	            		<h5 class="timeline__date">October</h5>
	            		<p class="timeline__text">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt risus nec pellentesque.</p>
	            	</div>
	            	<span class="circle"></span><span class="line"></span>
	            </div>
	            <div class="timeline__event top" data-date="Wed Dec 21 2011">
	            	<div class="timeline__block">
	            		<h5 class="timeline__date">December</h5>
	            		<p class="timeline__text">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt risus nec pellentesque.</p>
	            	</div>
	            	<span class="circle"></span><span class="line"></span>
	            </div> 			            
	            
	            
				<div class="timeline__year"><span class="circle"></span>2012</div>            
	            <div class="timeline__event bottom" data-date="Wed Jun 08 2012">
	            	<div class="timeline__block">
	            		<h5 class="timeline__date">January - February</h5>
	            		<p class="timeline__text">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt risus nec pellentesque.</p>
	            	</div>
	            	<span class="circle"></span><span class="line"></span>
	            </div>
	            <div class="timeline__event top special" data-date="Wed Feb 21 2012">
	            	<div class="timeline__block">
	            		<h5 class="timeline__date">February</h5>
	            		<p class="timeline__text">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt risus nec pellentesque.</p>
	            	</div>
	            	<span class="circle"></span><span class="line"></span>
	            </div>    
	            <div class="timeline__event bottom" data-date="Tue Mar 09 2012">
	            	<div class="timeline__block">
		            	<h5 class="timeline__date">March</h5>
		            	<p class="timeline__text">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt risus nec pellentesque.</p>
		            </div>
		            <span class="circle"></span><span class="line"></span>
		        </div>    
	            <div class="timeline__event top special" data-date="Sat May 14 2012">
	            	<div class="timeline__block">
		            	<h5 class="timeline__date">May</h5>
		            	<p class="timeline__text">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt risus nec pellentesque.</p>
		            </div>
		            <span class="circle"></span><span class="line"></span>
		        </div>
	            <div class="timeline__event bottom" data-date="Wed Jun 21 2012">
	            	<div class="timeline__block">
		            	<h5 class="timeline__date">June</h5>
		            	<p class="timeline__text">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt risus nec pellentesque.</p>
		            </div>
		            <span class="circle"></span><span class="line"></span>
		        </div>    
	            <div class="timeline__event top" data-date="Tue Aug 09 2012">
	            	<div class="timeline__block">
		            	<h5 class="timeline__date">August</h5>
		            	<p class="timeline__text">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt risus nec pellentesque.</p>
		            </div>
		            <span class="circle"></span><span class="line"></span>
		        </div>
	            <div class="timeline__event bottom special" data-date="Sat Oct 14 2012">
	            	<div class="timeline__block">
		            	<h5 class="timeline__date">October</h5>
		            	<p class="timeline__text">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt risus nec pellentesque.</p>
		            </div>
		            <span class="circle"></span><span class="line"></span>
		        </div>
	            <div class="timeline__event top" data-date="Wed Dec 21 2012">
	            	<div class="timeline__block">
		            	<h5 class="timeline__date">December</h5>
		            	<p class="timeline__text">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt risus nec pellentesque.</p>
		            </div>
		            <span class="circle"></span><span class="line"></span>
		        </div>     
	            
	            
	            <div class="timeline__year"><span class="circle"></span>2013</div>
	            <div class="timeline__event bottom" data-date="Wed Jun 08 2013">
	            	<div class="timeline__block">
	            		<h5 class="timeline__date">January - February</h5>
	            		<p class="timeline__text">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt risus nec pellentesque.</p>
		            </div>
		            <span class="circle"></span><span class="line"></span>
		        </div>
	            <div class="timeline__event top special" data-date="Wed Feb 21 2013">
	            	<div class="timeline__block">
	            		<h5 class="timeline__date">February</h5>
	            		<p class="timeline__text">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt risus nec pellentesque.</p>
		            </div>
		            <span class="circle"></span><span class="line"></span>
		        </div>    
	            <div class="timeline__event bottom" data-date="Tue Mar 09 2013">
	            	<div class="timeline__block">
	            		<h5 class="timeline__date">March</h5>
	            		<p class="timeline__text">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt risus nec pellentesque.</p>
		            </div>
		            <span class="circle"></span><span class="line"></span>
		        </div>    
	            <div class="timeline__event top special" data-date="Sat May 14 2013">
	            	<div class="timeline__block">
	            		<h5 class="timeline__date">May</h5>
	            		<p class="timeline__text">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt risus nec pellentesque.</p>
		            </div>
		            <span class="circle"></span><span class="line"></span>
		        </div>
	            <div class="timeline__event bottom" data-date="Wed Jun 21 2013">
	            	<div class="timeline__block">
	            		<h5 class="timeline__date">June</h5>
	            		<p class="timeline__text">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt risus nec pellentesque.</p>
		            </div>
		            <span class="circle"></span><span class="line"></span>
		        </div>    
	            <div class="timeline__event top" data-date="Tue Aug 09 2013">
	            	<div class="timeline__block">
	            		<h5 class="timeline__date">August</h5>
	            		<p class="timeline__text">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt risus nec pellentesque.</p>
		            </div>
		            <span class="circle"></span><span class="line"></span>
		        </div> 
	            <div class="timeline__event bottom special" data-date="Sat Oct 14 2013">
	            	<div class="timeline__block">
	            		<h5 class="timeline__date">October</h5>
	            		<p class="timeline__text">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt risus nec pellentesque.</p>
		            </div>
		            <span class="circle"></span><span class="line"></span>
		        </div>
	            <div class="timeline__event top" data-date="Wed Dec 21 2013">
	            	<div class="timeline__block">
	            		<h5 class="timeline__date">December</h5>
	            		<p class="timeline__text">Fusce aliquet euismod luctus. Aliquam scelerisque tincidunt risus nec pellentesque.</p>
		            </div>
		            <span class="circle"></span><span class="line"></span>
		        </div> 			            
	            
  #}
                   
                    <div class="timeline__year"><span class="circle"></span>2013</div>
                     <div class="timeline__event top" data-date="March 01 2013">
	            	<div class="timeline__block">
		            	<h5 class="timeline__date">Mars</h5>
		            	<p class="timeline__text">Mission chez Prisma Media</p>
		            </div>
		            <span class="circle"></span><span class="line"></span>
		        </div> 	
                    <div class="timeline__year"><span class="circle"></span>2014</div>
                    <div class="timeline__event bottom" data-date="Jan 01 2014">
	            	<div class="timeline__block">
		            	<h5 class="timeline__date">Janvier</h5>
		            	<p class="timeline__text">Mission chez Graph-e</p>
		            </div>
		            <span class="circle"></span><span class="line"></span>
		        </div>
                    <div class="timeline__event top" data-date="March 01 2014">
	            	<div class="timeline__block">
		            	<h5 class="timeline__date">Mars</h5>
		            	<p class="timeline__text">Mission chez Creads</p>
		            </div>
		            <span class="circle"></span><span class="line"></span>
		        </div>
                    <div class="timeline__event top" data-date="May 01 2014">
	            	<div class="timeline__block">
		            	<h5 class="timeline__date">Mai</h5>
		            	<p class="timeline__text">Mission chez Prestashop</p>
		            </div>
		            <span class="circle"></span><span class="line"></span>
		        </div>
                    <div class="timeline__event bottom" data-date="August 01 2014">
	            	<div class="timeline__block">
		            	<h5 class="timeline__date">Août</h5>
		            	<p class="timeline__text">Projet fridging.com</p>
		            </div>
		            <span class="circle"></span><span class="line"></span>
		        </div>
                    <div class="timeline__event top" data-date="September 01 2014">
	            	<div class="timeline__block">
		            	<h5 class="timeline__date">Septembre</h5>
		            	<p class="timeline__text">Projet qwinsport.com</p>
		            </div>
		            <span class="circle"></span><span class="line"></span>
		        </div>
                    <div class="timeline__event bottom" data-date="October 01 2014">
	            	<div class="timeline__block">
		            	<h5 class="timeline__date">Octobre</h5>
		            	<p class="timeline__text">Projet thinkdeed.com</p>
		            </div>
		            <span class="circle"></span><span class="line"></span>
		        </div>
	            <div class="timeline__year"><span class="circle"></span>2015</div>
	             <div class="timeline__event bottom" data-date="March 01 2015">
	            	<div class="timeline__block">
		            	<h5 class="timeline__date">Mars</h5>
		            	<p class="timeline__text">Mission chez Sooyoos</p>
		            </div>
		            <span class="circle"></span><span class="line"></span>
		        </div> 	
	            <div class="timeline__event top" data-date="June 01 2015">
	            	<div class="timeline__block">
		            	<h5 class="timeline__date">Juin</h5>
		            	<p class="timeline__text">Mission chez Sicavonline</p>
		            </div>
		            <span class="circle"></span><span class="line"></span>
		        </div> 	

	            
	            <div class="timeline__year"><span class="circle"></span>2016</div>
                    <div class="timeline__event top" data-date="Jan 01 2016">
	            	<div class="timeline__block">
		            	<h5 class="timeline__date">Janvier</h5>
		            	<p class="timeline__text">Mission 2 chez Sicavonline</p>
		            </div>
		            <span class="circle"></span><span class="line"></span>
		        </div> 
                    <div class="timeline__year"><span class="circle"></span>2017</div>
	       </div>
		</div>
		<!-- End Timeline -->	
	</section>

	<section class="container team">
		<div class="row">
            <div class="col-sm-12">
		    	<div class="divider-circle divider-circle--light"></div>

				<h2 class="section-title">Karudev Informatique<span class="text-highlight">L'équipe</span></h2>

				<!-- Team slider -->	
				<div class="swiper-controls">
					<a class="prev-arrow" href="#"></a>
					<a class="next-arrow" href="#"></a>
				</div>

				<div class="clearfix"></div>

				<div class="swiper-container team__slider">
				 	<div class="swiper-wrapper">

                                            <!-- Person -->
                                            <div class="swiper-slide"> 
                                                <div class="person">
                                                    <a class="person__photo-holder" href="#">
                                                        <img class="person__photo" src="{{asset('bundles/kdvfront/images/team/dolyveen.jpg')}}" alt="">
                                                    </a>
                                                    <div class="divider-triangle">&nbsp;</div>
                                                    <a class="person__name" href="#">Dolyveen Renault</a>
                                                    <p class="person__detail">Consultant Développeur Informatique / Gérant</p>
                                                    <p class="person__text">Expert PHP/Symfony2 (8xp),<br/> Dolyveen Renault intervient en régie chez les clients pour des conseils, et développements web pointus.</p>
                                                    <ul class="social">
                                                        <li class="social__item"><a class="icon-circle fa fa-linkedin" href="http://ua.linkedin.com/pub/olia-gozha/49/b91/268" target="_blank">&nbsp;</a></li>
                                                        <li class="social__item"><a class="icon-circle fa fa-twitter" href="http://twitter.com/@OliaGozha" target="_blank">&nbsp;</a></li>
                                                        <li class="social__item"><a class="icon-circle fa fa-facebook" href="http://www.facebook.com/people/@/http://www.facebook.com/olia.gozha" target="_blank">&nbsp;</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- End Person -->
                                            <!-- Person -->
                                            <div class="swiper-slide"> 
                                                <div class="person">
                                                    <a class="person__photo-holder" href="#">
                                                        <img class="person__photo" src="{{asset('bundles/kdvfront/images/team/jr.jpg')}}" alt="">
                                                    </a>
                                                    <div class="divider-triangle">&nbsp;</div>
                                                    <a class="person__name" href="#">Jean Raynal BEBEL</a>
                                                    <p class="person__detail">Ingénieur d'étude et de développement PHP / JAVA</p>
                                                    <p class="person__text">Jean Raynal est un véritable couteaux suisse. Grâce à ses compétences variés, il prend en charge l'ensemble des projets au forfait.</p>
                                                    <ul class="social">
                                                        <li class="social__item"><a class="icon-circle fa fa-linkedin" href="http://ua.linkedin.com/pub/olia-gozha/49/b91/268" target="_blank">&nbsp;</a></li>
                                                        <li class="social__item"><a class="icon-circle fa fa-twitter" href="http://twitter.com/@OliaGozha" target="_blank">&nbsp;</a></li>
                                                        <li class="social__item"><a class="icon-circle fa fa-facebook" href="http://www.facebook.com/people/@/http://www.facebook.com/olia.gozha" target="_blank">&nbsp;</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- End Person -->
                                            <!-- Person -->
                                            <div class="swiper-slide"> 
                                                <div class="person">
                                                    <a class="person__photo-holder" href="#">
                                                        <img class="person__photo" src="{{asset('bundles/kdvfront/images/team/dolyveen.jpg')}}" alt="">
                                                    </a>
                                                    <div class="divider-triangle">&nbsp;</div>
                                                    <a class="person__name" href="#">Steven Renault</a>
                                                    <p class="person__detail">Développeur Web</p>
                                                    <p class="person__text">Développeur junior motivé et talentieux,<br/> Steven Renault prête main forte sur les projets au forfait.</p>
                                                    <ul class="social">
                                                        <li class="social__item"><a class="icon-circle fa fa-linkedin" href="http://ua.linkedin.com/pub/olia-gozha/49/b91/268" target="_blank">&nbsp;</a></li>
                                                        <li class="social__item"><a class="icon-circle fa fa-twitter" href="http://twitter.com/@OliaGozha" target="_blank">&nbsp;</a></li>
                                                        <li class="social__item"><a class="icon-circle fa fa-facebook" href="http://www.facebook.com/people/@/http://www.facebook.com/olia.gozha" target="_blank">&nbsp;</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- End Person -->

                                            <!-- Person -->
                                            <div class="swiper-slide">
                                                <div class="person">
                                                    <a class="person__photo-holder" href="#">
                                                        <img class="person__photo" src="{{asset('bundles/kdvfront/images/team/harold-gene.jpg')}}" alt="">
                                                    </a>
                                                    <div class="divider-triangle">&nbsp;</div>
                                                    <a class="person__name" href="#">Harold Gene</a>
                                                    <p class="person__detail">Directeur Artistique (Collaborateur)</p>
                                                    <p class="person__text">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed consequat, nisl nec ultricies bibendum, lectus leo tincidunt enim, vel convallis magna felis a diam.</p>
                                                    <ul class="social">
                                                        <li class="social__item"><a class="icon-circle fa fa-pinterest" href="http://pinterest.com/oliagozha/" target="_blank">&nbsp;</a></li>
                                                        <li class="social__item"><a class="icon-circle fa fa-google-plus" href="https://plus.google.com/u/0/100180333527158639883/posts" target="_blank">&nbsp;</a></li>
                                                        <li class="social__item"><a class="icon-circle fa fa-linkedin" href="http://ua.linkedin.com/pub/olia-gozha/49/b91/268" target="_blank">&nbsp;</a></li>
                                                        <li class="social__item"><a class="icon-circle fa fa-twitter" href="http://twitter.com/@OliaGozha" target="_blank">&nbsp;</a></li>
                                                        <li class="social__item"><a class="icon-circle fa fa-facebook" href="http://www.facebook.com/people/@/http://www.facebook.com/olia.gozha" target="_blank">&nbsp;</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- End Person -->


		        	</div>
		    	</div>				
				<!-- End Team slider -->	

		    	<div class="divider-circle divider-circle--light"></div>
        	</div>
    	</div>
    	<!-- End row -->	

    	<div class="row about__contact">
	    	<div class="col-sm-8 col-md-9">
		    	<p class="page__text"><strong>Fusce aliquet euismod luctus.</strong> Aliquam scelerisque tincidunt risus nec pellentesque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent sed tristique massa. Aenean iaculis diam nec ligula ullamcorper eu tempus dolor ullamcorper. Morbi in nisi tincidunt neque gravida facilisis.  Pellentesque mattis nisl eget neque scelerisque adipiscing.</p>
	    	</div>
	    	<div class="col-sm-4 col-md-3">
	    		<div class="contact__button-wrapper">
			    	<a class="btn btn-info btn-wider contact__button btn--highlight" href="#">Contact Us</a>
			    </div>
	    	</div>
    	</div>
    	<!-- End row -->
	</section>
	<!-- End main content -->
{% endblock %}
{% block js %}
<script src="{{asset('bundles/kdvfront/external/jquery/jquery-migrate-1.2.1.min.js')}}"></script>		<!--Script jquery event Drag-->
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>	<!--Script jQuery UI-->
<script src="{{asset('bundles/kdvfront/external/jquery/jquery.ui.touch-punch.min.js')}}"></script>		<!--Script jquery event Drop-->
<script src="{{asset('bundles/kdvfront/external/bootstrap/js/bootstrap.min.js')}}"></script>			<!--Script jquery Easing-->
<script src="{{asset('bundles/kdvfront/external/jquery-roundabout/jquery.roundabout.min.js')}}"></script>	<!--Script Roundabout-->
<script src="{{asset('bundles/kdvfront/external/swiper/idangerous.swiper.min.js')}}"></script>			<!--Script Swiper slider -->	
<script src="{{asset('bundles/kdvfront/external/jquery-twitter/jquery.twitter.js')}}"></script>			<!--Script Twitter-->
<script src="{{asset('bundles/kdvfront/external/jflickrfeed/jflickrfeed.js')}}"></script>					<!--Script Widget Flikr-->
<script src="{{asset('bundles/kdvfront/external/gozha-nav/jquery.mobile.menu.js')}}"></script>			<!--Script Mobile menu-->
<script src="{{asset('bundles/kdvfront/external/modernizr/modernizr.custom.91224.js')}}"></script>		<!--Script Modernizr-->
<script src="{{asset('bundles/kdvfront/external/colorbox/jquery.colorbox.js')}}"></script>				<!--Script Сolorbox-->
<script src="{{asset('bundles/kdvfront/external/jquery-bxslider/jquery.bxslider.min.js')}}"></script>	
<script src="{{asset('bundles/kdvfront/external/swiper/idangerous.swiper.min.js')}}"></script>	
<script src="{{asset('bundles/kdvfront/external/jquery-timeline/jquery.timelineG.js')}}"></script>	
<script src="{{asset('bundles/kdvfront/js/form.js')}}"></script>											<!--Script Forms -->
<script src="{{asset('bundles/kdvfront/js/custom.js')}}"></script>										<!--Script Custom-->

<script>
	$(document).ready(function() {

		//Button hover
		init_Button ();

		//Swiper Slider
		init_TeamSlider();

		//Timeline
		init_Timeline();
			
	});
</script>
{% endblock %}